
ul {
    list-style: none;
    margin: 20px 0;

}

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 18px; line-height: 1.5; color: #000000; background-color: #fff; }

a { color: #ec6449; text-decoration: none; text-decoration: underline;}
a:hover {  color: #f9994b; text-decoration: underline; }

b, strong { font-weight: 300; }


li {
    margin: 7px 0 13px;
    line-height: 1.25;

}

.content {
    width: device-width;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
font-family: "Roboto",sans-serif;
    font-weight: 300;}

header {
    text-align: center;
    margin: 50px 0 0;
}

header img {
    width: 150px;
    height: auto;
    margin: 0 0 5px;
	min-width:100px
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-weight: bold;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}


header li {
    display: inline;
    padding: 0 9px;
    margin: 0;
}

header:after,
section:after {
    content: '';
    display: block;
    width: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 0;
}




.paper { color: #000000;  font-weight: 400; font-size: 18px}
.paper a{ color: #000000;  font-weight: 400; font-size: 18px;   text-decoration: underline;
  text-decoration-color: #b2b2b2;

}

.author { color: #5E5E5E; font-family: 'Helvetica Neue'; font-size: 17px}

.author a{ color: #ec6449; font-family: 'Helvetica Neue'; font-size: 17px}


b{ color: #ec6449;}


.author b{ color: #ec6449; font-family: "Roboto",sans-serif; }


footer {
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 50px;
}

header a,
footer a {
    background: none;
    transition: 0.2s;
}

header a:hover,
footer a:hover {
    color: rgba(70, 130, 180, 0.9);
}

footer a {
    font-weight: bold;
    text-decoration: underline;
}
